<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>OpenDoor</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/closeddoor.png') }}">
        <script defer src="/_vercel/insights/script.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&family=LXGW+WenKai+TC&display=swap" rel="stylesheet">
</head>

<body onload="fetchData()">
        <header>
                <img src="{{ url_for('static', filename='images/closeddoor.png') }}" alt="Logo" class="logo"
                        onclick="reloadPage()">
                <img src="{{ url_for('static', filename='images/mail.png') }}" id="emailIcon" alt="Contact"
                        onclick="toggleEmail()">
        </header>

        <main>
                <div class="card">
                        <div id="imageHolder">
                                <div class="placeholder-image">Animal Photo</div>
                        </div>

                        <div class="info">
                                <div class="name-and-org">
                                <ul id="data-name">
                                        <li class="placeholder">Dog Name</li>
                                </ul>
                                <ul id="data-organization">
                                        <li class="placeholder">Shelter Name</li>
                                </ul>
                                </div>
                                <div class="type-gender">
                                        <ul id="data-type">
                                                <li class="placeholder">Dog</li>
                                        </ul>
                                        <ul id="data-gender">
                                                <li class="placeholder">Gender</li>
                                        </ul>
                                </div>

                                <div class="bottom">
                                        <a href="#" id="adoptLink" class="adopt-button">
                                                <img src="{{ url_for('static', filename='images/adoptme.png') }}" id="dopt" alt="Adopt Button" width="170" height="100">
                                        </a>
                                                <img src="{{ url_for('static', filename='images/closeddoor.png') }}" id="shuffleButton" alt="New Animal"
                                                        onclick="fetchData()">
                                </div>
                        </div>
                </div>
        </main>
       
        <ul id="data-image"></ul>

        <script>
                const emailSrc = "";
                const checkSrc = "";

                function toggleEmail() {
                        const icon = document.getElementById('emailIcon');
                        icon.src = checkSrc;
                        setTimeout(() => {
                                icon.src = emailSrc;
                        }, 1000);
                }
        </script>

        <script src="{{ url_for('static', filename='js/connector.js') }}" async defer></script>
</body>

</html>