<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>animals</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <button onclick="fetchData()">Load Data</button>
        <ul id="data-name"></ul>  
        <ul id="data-gender"></ul>
        <ul id="data-link"></ul>
        <ul id="data-organization"></ul>
        <ul id="data-type"></ul>
        <ul id="data-image"></ul>
        <div id="imageHolder"></div>
        
        <script src="{{ url_for('static', filename='js/connector.js') }}" async defer></script>
    </body>
</html>